@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root {
  --prima-color-1: hsl(171, 66%, 44%);
  --prima-color-2: hsl(233, 100%, 69%);

  --neu-color-1: hsl(210, 10%, 33%);
  --neu-color-2: hsl(201, 11%, 66%);

  --fs-body: 1.2rem;
  --font-family: 'Bai Jamjuree', sans-serif;
}

* {
  box-sizing: border-box;
}
