@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root {
  --prima-color-1: hsl(171, 66%, 44%);
  --prima-color-2: hsl(233, 100%, 69%);

  --neu-color-1: hsl(210, 10%, 33%);
  --neu-color-2: hsl(201, 11%, 66%);

  --fs-body: 1.2rem;
  --fw-400: 400;
  --fw-600: 600;
  --font-family: 'Bai Jamjuree', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  font-family: var(--font-family);
}

header {
  background-image: url('images/bg-header-desktop.png');
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-bottom: 10rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.container__header {
  padding: 5rem 0;
  gap: 1rem;
  margin-bottom: 5rem;
}

.logo {
  width: 5%;
  margin-bottom: 1rem;
}

.heading__title-message {
  color: #4b5257;
  font-size: 2.6rem;
}

.heading__message {
  font-size: var(--fs-body);
  color: var(--neu-color-2);
  max-width: 55ch;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.container__btn {
  flex-direction: row;
}

button {
  font-family: var(--font-family);
  color: #ffff;
  border: none;
  padding: 0.9rem 3rem;
  border-radius: 100px;
  cursor: pointer;
  font-weight: 600;
}

.btn-ios {
  background-color: var(--prima-color-1);
  box-shadow: 0 3px 0 rgba(27, 159, 138, 255);
  margin-right: 0.5rem;
}

.btn-ios:hover {
  background-color: #5bcdbc;
  box-shadow: 0 3px 0 0 rgba(27, 159, 138, 255);
}

.btn-mac {
  background-color: var(--prima-color-2);
  box-shadow: 0 3px 0 0 rgba(80, 100, 223, 255);
}

.btn-mac:hover {
  background-color: #8896ff;
  box-shadow: 0 3px 0 0 rgba(80, 100, 223, 255);
}

.second__section-title {
  color: var(--neu-color-1);
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.second__section-message {
  font-size: var(--fs-body);
  color: var(--neu-color-2);
  max-width: 60ch;
  text-align: center;
  margin: 0 auto 2rem auto;
  line-height: 1.5;
}

.third__section {
  flex-direction: row;
  gap: 7rem;
  align-items: center;
}

.third__section img {
  flex: 0 0 50%;
  transform: translateX(-2rem);
}

.third__section-features {
  align-items: flex-start;
  gap: 3rem;
  flex: 1 0 0;
}

.third__section-features h3 {
  color: var(--neu-color-1);
  font-weight: var(--fw-600);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.third__section-features p {
  max-width: 35ch;
  line-height: 2;
  color: var(--neu-color-2);
}

.fourth__section {
  gap: 5rem;
}
.fourth__section div {
  text-align: center;
}

.fourth__section-heading {
  color: var(--neu-color-1);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.fourth__section-message {
  color: var(--neu-color-2);
  max-width: 60ch;
  line-height: 1.5;
  text-align: center;
}

.fifth__section {
  gap: 4rem;
}

.fifth__section div {
  text-align: center;
}

.fifth__section-heading {
  color: var(--neu-color-1);
  font-size: 2rem;
  margin-bottom: 1.2rem;
}

.fifth__section-message {
  color: var(--neu-color-2);
}

.fifth__section-features {
  align-items: baseline;
  flex-direction: row;
  gap: 2.5rem;
  text-align: center;
}

.fifth__section-features img {
  margin-bottom: 2.5rem;
}

.fifth__section-features h3 {
  margin-bottom: 1.5rem;
  color: var(--neu-color-1);
  font-weight: var(--fw-600);
  font-size: 1.5rem;
}
.fifth__section-features li p {
  line-height: 2;
  max-width: 34ch;
  color: var(--neu-color-2);
}

.featured-in {
  flex-direction: row;
  justify-content: space-evenly;
}

.sixth__section h2 {
  color: var(--neu-color-1);
  margin-bottom: 1rem;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.sixth__section p {
  color: var(--neu-color-2);
  max-width: 60ch;
  text-align: center;
  margin-bottom: 2rem;
}
.sixth__section-btn-ios {
  background-color: var(--prima-color-1);
  box-shadow: 0 3px 0 rgba(27, 159, 138, 255);
  margin-right: 0.5rem;
}
.sixth__section-btn-ios:hover {
  background-color: #5dccbb;
}

.sixth__section-btn-mac {
  background-color: var(--prima-color-2);
  box-shadow: 0 3px 0 0 rgba(80, 100, 223, 255);
}
.sixth__section-btn-mac:hover {
  background-color: #8896ff;
}

.footer {
  background-color: #f5f6f8;
  justify-content: space-around;
  flex-direction: row;
  padding: 3rem;
}

.footer__details {
  flex-direction: row;
  justify-content: space-between;
  gap: 4rem;
}

.footer__details img {
  width: 10%;
}

.footer__details ul {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 1rem;
}

.footer__details a:link,
.footer__details a:visited {
  text-decoration: none;
  color: #8d8e92;
  font-weight: 600;
}
.footer__details a:active,
.footer__details a:hover {
  color: var(--prima-color-1);
  cursor: pointer;
  font-weight: 600;
}

.footer__social-media {
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.social-media-logo {
  fill: #4c545c;
}
.social-media-logo:hover {
  fill: #22b9a1;
}
/* 
@media (max-width: 52.7rem) {
  header {
    background-image: url('images/bg-header-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .third__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .third__section img {
    flex: 0;
    transform: none;
  }

  .third__section-features {
    text-align: center;
  }

  .fifth__section-features {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .featured-in {
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
  }

  .footer {
    gap: 3rem;
  }
} */

@media (max-width: 25.7rem) {
  header {
    background-image: url('images/bg-header-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .logo {
    width: 30%;
  }

  main {
    padding: 0 1rem;
  }

  .container__header {
    text-align: center;
  }

  .heading__title-message {
    font-size: 2.1rem;
  }

  .heading__message {
    max-width: 45ch;
  }

  .container__btn {
    gap: 1.5rem;
    width: 100%;
  }

  button {
    width: 100%;
  }

  .second__section {
    text-align: center;
  }

  .third__section {
    text-align: center;
    margin-bottom: 5rem;
  }
  .third__section img {
    width: 100%;
    transform: none;
  }

  .fourth__section {
    text-align: center;
  }

  .fourth__section img {
    width: 100%;
  }

  .fourth__section-message {
    margin: 0 auto;
    max-width: 30ch;
  }

  .fifth__section {
    margin-bottom: 5rem;
  }

  .featured-in {
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
  }

  .sixth__section {
    text-align: center;
  }
  .sixth__section p {
    max-width: 35ch;
  }

  .footer {
    flex-direction: column;
  }

  .footer__details img {
    width: 50%;
  }

  .footer__details {
    flex-direction: column;
  }

  .footer__details ul {
    grid-template-columns: 1fr;
    place-items: center;
    gap: 2rem;
    margin-bottom: 5rem;
  }

  .footer__social-media {
    gap: 2rem;
  }
}
