@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root {
  --prima-color-1: hsl(171, 66%, 44%);
  --prima-color-2: hsl(233, 100%, 69%);

  --neu-color-1: hsl(210, 10%, 33%);
  --neu-color-2: hsl(201, 11%, 66%);

  --fs-body: 1.2rem;
  --fw-400: 400;
  --fw-600: 600;
  --font-family: 'Bai Jamjuree', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-family);
}

header {
  background-image: url('images/bg-header-desktop.png');
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container__header {
  padding: 5rem 0;
  gap: 1rem;
}

.logo {
  width: 5%;
  margin-bottom: 1rem;
}

.heading__title-message {
  color: #4b5257;
  font-size: 2.6rem;
}

.heading__message {
  font-size: var(--fs-body);
  color: var(--neu-color-2);
  max-width: 55ch;
  text-align: center;
  line-height: 1.5;
  flex-wrap: nowrap;
  margin-bottom: 2rem;
}

.container__btn {
  flex-direction: row;
}

button {
  font-family: var(--font-family);
  color: #ffff;
  border: none;
  padding: 0.9rem 3rem;
  border-radius: 100px;
  cursor: pointer;
  font-weight: 600;
}

.btn-ios {
  background-color: var(--prima-color-1);
  box-shadow: 0 3px 0 0 rgba(27, 159, 138, 255);
  margin-right: 0.5rem;
}

.btn-mac {
  background-color: var(--prima-color-2);
  box-shadow: 0 3px 0 0 rgba(80, 100, 223, 255);
}

.btn-ios:hover {
  background-color: #5ccdbc;
  box-shadow: 0 3px 0 0 rgba(27, 159, 138, 255);
}

.btn-mac:hover {
  background-color: #8896ff;
  box-shadow: 0 3px 0 0 rgba(80, 100, 223, 255);
}

.second__section {
  -container
}
/* 


.second__section-container {
  text-align: center;
  margin-bottom: 7rem;
}

.second__section-title {
  color: var(--neu-color-1);
  margin-bottom: 1rem;
}

.second__section-message {
  font-size: var(--fs-body);
  color: var(--neu-color-2);
  max-width: 60ch;
  margin: 0 auto 2rem auto;
  line-height: 1.5;
}

ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.third__section-container {
  display: flex;
  gap: 5rem;
  align-items: center;
  margin-bottom: 10rem;
  flex-wrap: wrap;
  flex: 0 0 100%;
}

.third__section-container img {
  flex: 0 0 53%;
  transform: translateX(-3rem);
}

.third__section-features {
  display: flex;
  gap: 2.5rem;
  flex-direction: column;
  margin-bottom: 2rem;
}

.third__section-features h3 {
  color: var(--neu-color-1);
  font-weight: var(--fw-600);
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.third__section-features p {
  max-width: 35ch;
  line-height: 2;
  color: var(--neu-color-2);
}

.fourth-section__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
  margin-bottom: 8rem;
}

.fourth-section__container div {
  text-align: center;
}

.fourth-section__heading {
  color: var(--neu-color-1);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.fourth-section__message {
  color: var(--neu-color-2);
  max-width: 60ch;
  line-height: 1.5;
}

.fifth-section__container {
  display: flex;
  align-items: center;
  gap: 5rem;
  flex-direction: column;
}

.fifth-section__container div {
  text-align: center;
}

.fifth-section__heading {
  color: var(--neu-color-1);
  font-size: 2rem;
  margin-bottom: 1.2rem;
}

.fifth-section__message {
  color: var(--neu-color-2);
}
.fifth-section__features {
  display: flex;
  gap: 2.5rem;
  align-items: baseline;
  justify-content: center;
}

.fifth-section__features li {
  text-align: center;
}

.fifth-section__features img {
  margin-bottom: 2.5rem;
}

.fifth-section__features h3 {
  margin-bottom: 1.5rem;
  color: var(--neu-color-1);
  font-weight: var(--fw-600);
  font-size: 1.5rem;
}

.fifth-section__features li p {
  line-height: 2;
  max-width: 34ch;
  color: var(--neu-color-2);
}

.featured-in__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10rem 0;
}

.sixth-section__container {
  text-align: center;
  margin-bottom: 10rem;
}
.sixth-section__container h2 {
  color: var(--neu-color-1);
  margin-bottom: 1rem;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.sixth-section__container p {
  color: var(--neu-color-2);
  max-width: 60ch;
  margin: 0 auto 2rem auto;
}

footer {
  background-color: #f5f6f8;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem;
}

.footer__container {
  display: flex;
  gap: 5rem;
  justify-content: space-between;
}

.footer__container img {
  width: 10%;
}

.footer__nav {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 1rem;
}

.footer__nav a:link,
.footer__nav a:visited {
  text-decoration: none;
  color: #8d8e92;
  font-weight: 600;
}
.footer__nav a:active,
.footer__nav a:hover {
  color: var(--prima-color-1);
  cursor: pointer;
  font-weight: 600;
}

.footer__social-media {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.social-media-logo {
  fill: #4c545c;
}
.social-media-logo:hover {
  fill: #22b9a1;
}

@media (max-width: 52.7rem) {
} */
